@import"https://fonts.googleapis.com/css?family=Kumbh+Sans%7cPlayfair+Display";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    background-color: #1d2839;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit
}

a:hover {
    color: #535bf2
}

h1 {
    font-size: 3.2em;
    line-height: 1.1
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: .6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color .25s
}

button:hover {
    border-color: #646cff
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color
}

@media (prefers-color-scheme: light) {
    :root {
        color: #ec0455;
        background-color: #fff
    }

    a:hover {
        color: #747bff
    }

    button {
        background-color: #f9f9f9
    }
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-y: auto;
    display: block
}

body,
.MuiAppBar-root {
    background-color: transparent !important;
    box-shadow: none !important
}

.title {
    opacity: 1;
    font-weight: 400;
    font-family: Playfair Display, Times New Roman !important;
    color: #fff;
    font-size: 2rem !important
}

.title.bounce-in-left {
    -moz-animation: bounce-in-left 2s ease forwards;
    -webkit-animation: bounce-in-left 2s ease forwards;
    animation: bounce-in-left 2s ease forwards
}

@keyframes bounce-in-left {
    0% {
        opacity: 0;
        transform: translate(-2000px)
    }

    60% {
        opacity: 1;
        transform: translate(30px)
    }

    80% {
        transform: translate(-10px)
    }

    to {
        transform: translate(0)
    }
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e20e0e;
    overflow: hidden
}

.top-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c7a51a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}

.top-background:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #1d2839;
    border-radius: 80% 0% 0 0
}

@keyframes swing {
    0% {
        transform: rotate(-20deg)
    }

    50% {
        transform: rotate(20deg)
    }

    to {
        transform: rotate(-20deg)
    }
}

.swing-wrapper {
    position: absolute;
    top: 0;
    left: 10%;
    transform-origin: top;
    animation: swing 3s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3
}

.lamp-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.lamp {
    width: 60px;
    height: 30px;
    background-color: #e3dddd;
    border-radius: 30px 30px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 50px #ff09;
    transition: box-shadow .3s ease-in-out;
    z-index: 3
}

.rope {
    width: 4px;
    height: 250px;
    background-color: #fa0303
}

.light-effect {
    position: absolute;
    top: 260px;
    width: 15vw;
    height: 15vw;
    background: radial-gradient(circle, #ffff64cc 10%, #222 80%);
    pointer-events: none;
    transition: opacity .3s ease-in-out;
    clip-path: circle(35%);
    z-index: 1
}

.light-control {
    margin-top: 20px;
    position: relative;
    z-index: 2
}

.carousel-container {
    position: relative;
    perspective: 1500px;
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffde
}

.carousel {
    width: 300px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s
}

.carousel-item {
    position: absolute;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px #0000001a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    transition: transform .5s, z-index .5s;
    cursor: pointer
}

.active {
    transform: scale(1.2) translateZ(200px) !important;
    z-index: 10
}